body {
  text-align: center;
  font-family: Georgia;
  background-color: #42f5b6;
}

h1 {
  font-family: 'Sansita Swashed';
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}
